{% if site.enable_google_verification or site.enable_bing_verification %}
  <!-- Website verification -->
  {% if site.enable_google_verification %}
    <meta name="google-site-verification" content="{{ site.google_site_verification }}">
  {% endif %}
  {% if site.enable_bing_verification %}
    <meta name="msvalidate.01" content="{{ site.bing_site_verification }}">
  {% endif %}
  <!--
    Avoid warning on Google Chrome Error with Permissions-Policy header:
    Origin trial controlled feature not enabled: 'interest-cohort'.
    see https://stackoverflow.com/a/75119417
  -->
  <meta http-equiv="Permissions-Policy" content="interest-cohort=()">
{% endif %}

{% capture author_name %}{{ site.first_name }}{% if site.middle_name %} {{ site.middle_name }}{% endif %} {{ site.last_name }}{% endcapture %}

<!-- Standard metadata -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>
  {% if site.title == 'blank' %}
    {% capture title %}{{ author_name }}{% endcapture %}
  {% else %}
    {% capture title %}{{ site.title }}{% endcapture %}
  {% endif %}
  {% if page.url == '/blog/index.html' %}
    {{ page.title }} | {{ title }}
  {% elsif page.title != 'blank' and page.url != '/' %}
    {% if page.title == null or page.title == '' %}
      {{ page.date | date: '%Y' }} | {{ title }}
    {% else %}
      {{ page.title }} | {{ title }}
    {% endif %}
  {% else %}
    {{ title }}
  {% endif %}
</title>
<meta name="author" content="{{ author_name }}">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
{% if page.keywords or site.keywords %}
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
{% endif %}

{% assign is_blog_post = false %}
{% if page.url != '/blog/index.html' and page.url contains '/blog/' %}
  {% unless page.url contains '/tag/' or page.url contains '/category/' %}
    {% assign is_blog_post = true %}
  {% endunless %}
{% endif %}

{% if site.serve_og_meta %}
  <!-- OpenGraph -->
  <meta property="og:site_name" content="{{ title }}">
  <meta property="og:type" content="{% if is_blog_post %}article{% else %}website{% endif %}">
  <meta property="og:title" content="{% if page.title %}{{ title }} | {{ page.title }}{% else %}{{ title }}{% endif %}">
  <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url | remove_first: 'index.html' }}">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  {% if page.og_image or site.og_image %}
    <meta property="og:image" content="{% if page.og_image %}{{ page.og_image }}{% else %}{{ site.og_image }}{% endif %}">
  {% endif %}
  <meta property="og:locale" content="{{ site.lang }}">

  <!-- Twitter card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  {% if page.og_image or site.og_image %}
    <meta name="twitter:image" content="{% if page.og_image %}{{ page.og_image }}{% else %}{{ site.og_image }}{% endif %}">
  {% endif %}
  {% if site.x_username %}
    <meta name="twitter:site" content="@{{ site.x_username }}">
    <meta name="twitter:creator" content="@{{ site.x_username }}">
  {% endif %}
{% endif %}

{% if site.serve_schema_org %}
  <!-- Schema.org -->
  {% comment %} Social links generator for "sameAs schema" {% endcomment %}
  {% assign sameaslinks = '' | split: ',' %}
  {% if site.data.socials.orcid_id %}
    {% capture link %}https://orcid.org/{{ site.data.socials.orcid_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.scholar_userid %}
    {% capture link %}https://scholar.google.com/citations?user={{ site.data.socials.scholar_userid }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.semanticscholar_id %}
    {% capture link %}https://www.semanticscholar.org/author/{{ site.data.socials.semanticscholar_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.publons_id %}
    {% capture link %}https://publons.com/a/{{ site.data.socials.publons_id }}/{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.lattes_id %}
    {% capture link %}http://lattes.cnpq.br/{{ site.data.socials.lattes_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.osf_id %}
    {% capture link %}https://osf.io/{{ site.data.socials.osf_id }}/{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.research_gate_profile %}
    {% capture link %}https://www.researchgate.net/profile/{{ site.data.socials.research_gate_profile }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.scopus_id %}
    {% capture link %}https://www.scopus.com/authid/detail.uri?authorId={{ site.data.socials.scopus_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.github_username %}
    {% capture link %}https://github.com/{{ site.data.socials.github_username }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.telegram_username %}
    {% capture link %}https://telegram.me/{{ site.data.socials.telegram_username }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.linkedin_username %}
    {% capture link %}https://www.linkedin.com/in/{{ site.data.socials.linkedin_username }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.x_username %}
    {% capture link %}https://twitter.com/{{ site.data.socials.x_username }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.mastodon_username %}
    {% capture link %}https://{{ site.data.socials.mastodon_username  }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.medium_username %}
    {% capture link %}https://medium.com/@{{ site.data.socials.medium_username }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.quora_username %}
    {% capture link %}https://www.quora.com/profile/{{ site.data.socials.quora_username }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.blogger_url %}
    {% capture link %}{{ site.data.socials.blogger_url }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.work_url %}
    {% capture link %}{{ site.data.socials.work_url }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.wikidata_id %}
    {% capture link %}https://www.wikidata.org/wiki/{{ site.data.socials.wikidata_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.wikipedia_id %}
    {% capture link %}https://wikipedia.org/wiki/User:{{ site.data.socials.wikipedia_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.strava_userid %}
    {% capture link %}https://www.strava.com/athletes/{{ site.data.socials.strava_userid }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.keybase_username %}
    {% capture link %}https://keybase.io/{{ site.data.socials.keybase_username }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.gitlab_username %}
    {% capture link %}https://gitlab.com/{{ site.data.socials.gitlab_username }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.dblp_url %}
    {% capture link %}{{ site.data.socials.dblp_url }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.stackoverflow_id %}
    {% capture link %}https://stackoverflow.com/users/{{ site.data.socials.stackoverflow_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.kaggle_id %}
    {% capture link %}https://www.kaggle.com/{{ site.data.socials.kaggle_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.lastfm_id %}
    {% capture link %}https://www.last.fm/user/{{ site.data.socials.lastfm_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.spotify_id %}
    {% capture link %}https://open.spotify.com/user/{{ site.data.socials.spotify_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.pinterest_id %}
    {% capture link %}https://www.pinterest.com/{{ site.data.socials.pinterest_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.unsplash_id %}
    {% capture link %}https://unsplash.com/@{{ site.data.socials.unsplash_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.instagram_id %}
    {% capture link %}https://instagram.com/{{ site.data.socials.instagram_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.facebook_id %}
    {% capture link %}https://facebook.com/{{ site.data.socials.facebook_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.youtube_id %}
    {% capture link %}https://youtube.com/@{{ site.data.socials.youtube_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.discord_id %}
    {% capture link %}https://discord.com/users/{{ site.data.socials.discord_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.data.socials.zotero_username %}
    {% capture link %}https://www.zotero.org/{{ site.data.socials.zotero_username }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}

  {% assign sameas_json_output_string = sameaslinks | jsonify %}

  <!--
    -
    {% if sameaslinks != blank %}
      {% assign sameaslinks = sameaslinks | split: '' %}
    {% endif %}
  -->

  <script type="application/ld+json">
    {% if page.url == '/' %}

    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": {{ author_name | jsonify }},
      "url": {{ page.url | prepend: site.baseurl | prepend: site.url | remove_first: 'index.html' | jsonify }},
      {% if site.jobTitle %}
        "jobTitle": {{ site.jobTitle | jsonify }},
      {% endif %}
      {% if site.person_description %}
        "description": {{ site.person_description | strip_html | strip_newlines |  escape | jsonify }}
      {% else %}
        "description": {{ site.description | strip_html | strip_newlines | escape | jsonify }}
      {% endif %},
      {% if site.affiliation %}
        "affiliation": {
          "@type": "Organization",
          "name": {{ site.affiliation | jsonify }}
          {% if site.affiliation_url %}
          ,"url": {{ site.affiliation_url | jsonify }}
          {% endif %}
        },
      {% endif %}
      {% if sameaslinks.size > 0 %}
        "sameAs": {{ sameas_json_output_string }},
      {% endif %}
      "image": {
          "@type": "ImageObject",
          "url": "{{ site.avatar | absolute_url }}"
        }
    }

    {% else %}

    {
      "@context": "https://schema.org",
      "@type": "{% if is_blog_post %}BlogPosting{% else %}WebSite{% endif %}",
      "url": "{{ page.url | prepend: site.baseurl | prepend: site.url | remove_first: 'index.html' }}",
      "name": {{ title | jsonify }},
      {% if site.website_headline %}
        "headline": {{ site.website_headline | jsonify }},
      {% else %}
        "headline": {{ title | jsonify }}, {# Fallback headline to your name if website_headline isn't set #}
      {% endif %}

      "author": {
        "@type": "Person",
        "name": "{{ author_name }}",
        "url": {{ site.url | jsonify }}{% comment %} Add comma if any optional fields below are present {% endcomment %}
        {% if site.jobTitle or site.affiliation or sameaslinks.size > 0 or site.avatar %},{% endif %}

        {% if site.jobTitle %}
        "jobTitle": {{ site.jobTitle | jsonify }}
        {% if site.affiliation or sameaslinks.size > 0 or site.avatar %},{% endif %}
        {% endif %}

        {% if site.affiliation %}
        "affiliation": {
          "@type": "Organization",
          "name": {{ site.affiliation | jsonify }}
          {% if site.affiliation_url %}
          ,"url": {{ site.affiliation_url | jsonify }}
          {% endif %}
        }

        {% if site.person_description or sameaslinks.size > 0 or site.avatar %},{% endif %}
        {% endif %}

        {% if site.person_description %}
          "description": {{ site.person_description | strip_html | strip_newlines | escape | jsonify }}
          {% if sameaslinks.size > 0 or site.avatar %},{% endif %}
        {% endif %}

        {% if sameaslinks.size > 0 %}
          "sameAs": {{ sameas_json_output_string }}
        {% if site.avatar %},{% endif %}
        {% endif %}

        {% if site.avatar %}
        "image": {
            "@type": "ImageObject",
            "url": "{{ site.avatar | absolute_url | jsonify }}",
            "height": "200",
            "width": "200"
        }
        {% endif %}
      }

      {% if is_blog_post %}
      ,
        "publisher": { {# Note: a comma before "publisher" is needed if "author" was the last main property #}
          "@type": "Organization",
          "name": "{{ title }}",
          {% if site.og_image %}
          "logo": {
            "@type": "ImageObject",
            "url": "{{ site.og_image | absolute_url }}"
          }
          {% endif %}
        },
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "{{ page.url | prepend: site.baseurl | prepend: site.url | remove_first: 'index.html' }}"
        }
        {% if page.date %}
        ,"datePublished": "{{ page.date | date_to_xmlschema }}"
        {% endif %}
        {% if page.last_modified_at %}
        ,"dateModified": "{{ page.last_modified_at | date_to_xmlschema }}"
        {% else if page.date %}
        ,"dateModified": "{{ page.date | date_to_xmlschema }}"
        {% endif %}
      {% endif %}
    }
    {% endif %}
  </script>
{% endif %}
